Language: Cpp
Standard: c++17

AlignAfterOpenBracket: Align
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: All
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: true
    AfterControlStatement: Never
    AfterEnum: true
    AfterExternBlock: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: false
    BeforeElse: false
    BeforeLambdaBody: false
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyNamespace: false
    SplitEmptyRecord: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma 
BreakInheritanceList: BeforeComma
ColumnLimit: 100
ConstructorInitializerIndentWidth: 2
Cpp11BracedListStyle: false
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<adiar/internal/.*'
    Priority:        4
  - Regex:           '<adiar/.*'
    Priority:        3
  - Regex:           '<cnl/.*'
    Priority:        2
  - Regex:           '<tpie/.*'
    Priority:        3
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0
IndentWidth: 2
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
#PackConstructorInitializers: NextLineOnly
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements