[submodule "external/bandit"]
	path = external/bandit
	url = ../../banditcpp/bandit.git
	branch = headers-only
[submodule "external/tpie"]
	path = external/tpie
	url = ../../thomasmoelhave/tpie
[submodule "latex/preamble"]
	path = latex/preamble
	url = ../../SSoelvsten/LaTeX-Preamble_and_Examples.git
	branch = preamble-only
