################################################################################
# COMPILATION

# ---------------------
# C++
*.out
*.o

# ---------------------
# CMake
build/

# ---------------------
# TPIE files
*.tpie
*.coom*
*.adiar*

# ---------------------
# DOT files
*.dot
*.png

# ---------------------
# Documentation Exceptions
!docs/*.png
!docs/**/*.png

################################################################################
# LCOV reports
*.info
*.html
*.css

################################################################################
# VALGRIND
callgrind.out.*

################################################################################
# EMACS
*~
*\.#*

################################################################################
# VISUAL STUDIO CODE
.vscode/