################################################################################
# COMPILATION

# ---------------------
# C++
*.out
*.o

# ---------------------
# CMake
build/

# ---------------------
# TPIE files
*.tpie
*.coom*

# ---------------------
# DOT files
*.dot
*.png

################################################################################
# LCOV reports
*.info
*.html
*.css

################################################################################
# VALGRIND
callgrind.out.*

################################################################################
# EMACS
*~
*\.#*
