[submodule "external/bandit"]
	path = external/bandit
	url = ../../banditcpp/bandit.git
	branch = headers-only
[submodule "external/tpie"]
	path = external/tpie
	url = ../../thomasmoelhave/tpie.git
[submodule "external/cnl"]
	path = external/cnl
	url = ../../johnmcfarlane/cnl.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = ../../jothepro/doxygen-awesome-css.git
