################################################################################
# COMPILATION

# ---------------------
# C++
*.out
*.o

# ---------------------
# CMake
build/

# ---------------------
# TPIE files
*.tpie
*.coom

# ---------------------
# DOT files
*.dot
*.png

################################################################################
# EMACS
*~
*\.#*
