name: benchmarks

on:
  pull_request:
    branches: [ master ]

jobs:

  fetch-branch:
    name: 'Fetch branch name'
    runs-on: ubuntu-latest  
    steps:
    - id: identify
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_HEAD_REF#refs/heads/})"
    outputs:
      branch: ${{ steps.identify.outputs.branch }}

  run-benchmark:
    name: 'Benchmark: ${{ matrix.name }}'
    needs: fetch-branch
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Queens'
            exec: adiar_queens
            N: '8 9 10 11 12 13'

          - name: 'SAT: Pigeonhole Princiople'
            exec: adiar_sat_pigeonhole_principle
            N: '1 2 3 4 5 6 7 8 9 10'

          - name: 'SAT: Queens'
            exec: adiar_sat_queens
            N: '5 6 7 8'

          - name: 'Tic-Tac-Toe'
            exec: adiar_tic_tac_toe
            N: '18 19 20 21'

    steps:
    - name: Git | checkout SSoelvsten/BDD-Benchmark
      uses: actions/checkout@v2
      with:
        repository: 'ssoelvsten/bdd-benchmark'
        submodules: 'recursive'
    - name: Git | switch to branch
      run: |
        cd external/adiar
        git fetch
        git checkout -b remote/${{ needs.fetch-branch.outputs.branch }}

    - name: Apt | install boost aptitude
      run: sudo apt install libboost-all-dev aptitude
    - name: CMake | build
      run: |
        cmake -E make_directory build
        cd build
        cmake ../ -D CMAKE_BUILD_TYPE=Release && cmake --build . --target ${{ matrix.exec }}

    - name: Run Benchmark
      run: for n in ${{ matrix.N }}; do build/src/${{ matrix.exec }} $n 1024; done
