name: examples

on:
  push:
    branches: [ master ]
    paths:
      - 'src/adiar/**'
      - 'example/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'src/adiar/**'
      - 'example/**'

jobs:

  queens:
    name: 'Example: ${{ matrix.name }}'
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Queens'
            exec: queens
            N: '1 2 3 4 5 6 7 8 9 10 11'

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Apt | install boost aptitude
      run: sudo apt install libboost-all-dev aptitude
    - name: CMake | build
      run: |
        cmake -E make_directory ${{runner.workspace}}/build
        cd ${{runner.workspace}}/build
        cmake $GITHUB_WORKSPACE -D CMAKE_BUILD_TYPE=Release && cmake --build . --target ${{ matrix.exec }}

    - name: Run example
      working-directory: ${{runner.workspace}}/build
      run: for n in ${{ matrix.N }}; do ./example/${{ matrix.exec }} $n 1024; done
