name: examples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  skip_duplicate:
    name: 'Skip job if irrelevant'
    continue-on-error: true
    runs-on: ubuntu-latest

    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          paths: '["src/adiar/**", "example/**"]'

    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}

  queens:
    name: 'Example: ${{ matrix.name }}'
    runs-on: ubuntu-latest

    needs: skip_duplicate
    if: ${{ needs.skip_duplicate.outputs.should_skip != 'true' }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Queens'
            exec: queens
            N: '1 2 3 4 5 6 7 8 9 10 11'

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Apt | install boost aptitude
      run: sudo apt install libboost-all-dev aptitude
    - name: CMake | build
      run: |
        cmake -E make_directory ${{runner.workspace}}/build
        cd ${{runner.workspace}}/build
        cmake $GITHUB_WORKSPACE -D CMAKE_BUILD_TYPE=Release && cmake --build . --target ${{ matrix.exec }}

    - name: Run example
      working-directory: ${{runner.workspace}}/build
      run: for n in ${{ matrix.N }}; do ./example/${{ matrix.exec }} $n 1024; done
