name: 'Windows'

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths: [ 'src/adiar/**', 'tests/**' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build_test:
    name: 'Build + Test'
    runs-on: windows-latest

    strategy:
      fail-fast: false

    steps:
    # Git repo set up
    - name: Checkout commit
      uses: actions/checkout@v6
      with:
        submodules: 'recursive'

    # Install dependencies
    - name: Set up Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64

    - name: Install Boost
      uses: MarkusJx/install-boost@v2.5.1
      id: install-boost
      with:
        # List of all versions here:
        # https://github.com/MarkusJx/prebuilt-boost/blob/main/versions-manifest.json
        boost_version: 1.79.0
        platform_version: 2019
        toolset: msvc

    - name: Install Graphviz
      uses: ts-graphviz/setup-graphviz@v2

    # Build
    - name: Build tests
      working-directory: ${{runner.workspace}}
      run: |
        cmake -E make_directory ${{github.workspace}}\build
        cd ${{github.workspace}}\build
        SET CXXFLAGS="%CXXFLAGS% -D_HAS_AUTO_PTR_ETC=1"
        cmake -D CMAKE_BUILD_TYPE=DEBUG -A x64 -T host=x64 -D ADIAR_STATS=ON -D Boost_INCLUDE_DIR=${{env.BOOST_ROOT}}\include -D Boost_LIBRARY_DIRS=${{env.BOOST_ROOT}}\lib ..
        cmake --build . --target adiar_test-all
      env:
        BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}

    # Run unit tests
    - name: Run tests
      run: |
        & ${{github.workspace}}\build\tests\Debug\adiar_test-all.exe --reporter=info --colorizer=light
